/* ContactSection.css */
#contact {
    background: none;
    padding: 20px;
    margin-top: 20px;
    color: #12372A;
}

form {
    margin: 20px 0;
    width: 100%;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

.form-group .label {
    margin-right: 10px;
    color: #333;
    min-width: 60px;
    text-align: left;
}

.form-group .field {
    flex: 1;
    position: relative;
}

input[type="text"],
input[type="email"],
textarea,
.form-control {
    width: 100%;
    padding: 8px;
    background-color: #FBFADA;
    color: #12372A;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus,
.form-control:focus {
    background-color: #FBFADA;
    border: none;
    box-shadow: none;
}

.send-button {
    padding: 10px;
    background-color: #12372A;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
    font-size: 16px;
}

.send-button:hover {
    background-color: #12372A;
    color: #FBFADA;
}

.attach-button {
    padding: 10px;
    background: none;
    color: #12372A;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
    font-size: 16px;
    margin-left: 10px;
}

.attach-button:hover {
    background: none;
    color: #12372A;
}

.button-group {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.cc-bcc-button {
    background-color: #12372A;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s, opacity 0.3s;
    font-size: 16px;
    margin-left: 10px;
}

.cc-bcc-button.disabled {
    opacity: 0.5;
    pointer-events: none;
    background-color: #ADBC9F;
}

.cc-bcc-button:hover {
    background-color: #12372A;
    color: #FBFADA;
}

#cc-bcc-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 16px;
    color: #12372A;
}