/* PortfolioSection.css */
#portfolio {
    padding: 20px;
    margin-top: 20px;
    background-color: #FBFADA;
}

.portfolio-item {
    border: none;
    position: relative;
    background-color: #12372A;
    color: #fff;
}

.portfolio-item .card-img-top {
    width: 100%;
    height: auto;
    display: block;
}

.portfolio-item .card-body {
    padding: 10px;
}

#portfolio .card-title {
    color: #FBFADA;
    text-align: left;
    font-weight: bold;
    font-size: 1.1rem;
    position: relative;
}

#portfolio .card-title a {
    color: inherit;
    /* Ensure the link inherits the current text color */
    text-decoration: none;
    /* Remove default link underline */
    position: relative;
}

#portfolio .card-title a:hover {
    text-decoration: underline;
    /* Underline on hover */
}

#portfolio .card-title .link-icon {
    display: none;
    margin-left: 5px;
}

#portfolio .card-title a:hover .link-icon {
    display: inline-block;
}

#portfolio .card-text {
    color: #FBFADA;
    text-align: justify;
    word-spacing: minimum;
}

.portfolio-item .overlay {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #12372A;
    color: #fff;
    padding: 5px;
    border-radius: 0 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.portfolio-item .overlay:hover {
    background-color: #004494;
    color: #FBFADA;
}

.portfolio-item .hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.portfolio-item:hover .hover-overlay {
    opacity: 1;
}

.text-center .btn-primary {
    margin-top: 20px;
    background-color: transparent;
    border: none;
    color: #12372A;
    font-size: 1.2rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.text-center .btn-primary:hover {
    color: #0056b3;
}

.text-center .btn-primary:active {
    color: #004494;
}

.text-center .btn-primary .icon {
    margin-left: 5px;
    transition: transform 0.3s;
}

.text-center .btn-primary.show-less .icon {
    transform: rotate(180deg);
}