/* WelcomeSection.css */
#welcome {
    background-color: #FBFADA;
}

.welcome-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.welcome-text {
    flex: 1;
    padding-right: 20px;
}

.welcome-text h2 {
    color: #12372A;
}