/* Header.css */
.sidebar {
    background-color: #FBFADA;
    color: #12372A;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ddd;
    border: none;
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}

.App-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #FBFADA;
}

#navbarNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.nav-item {
    margin-bottom: 20px;
    position: relative;
}

.nav-link {
    font-size: 1.2rem;
    color: #12372A;
    transition: color 0.3s ease, transform 0.3s ease;
    position: relative;
    z-index: 1;
    /* Ensure icon is above the circle */
}

.nav-link:hover {
    color: #ADBC9F;
}

.nav-link.active {
    color: #ADBC9F;
    transform: scale(1.2);
    /* Make the active icon larger */
}

.nav-link.active::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-color: #ADBC9F;
    border-radius: 50%;
    z-index: -1;
    /* Ensure circle is behind the icon */
}

.navbar-toggler {
    color: #12372A;
}

.navbar-brand {
    font-size: 1.5rem;
    color: #12372A;
}